// IMPORTS
// COMPONENTS
@import "./components/plate/styles.less";
@import "./components/input/styles.less";
@import "./components/button/styles.less";
@import "./components/label/styles.less";

// PAGES
@import "./pages/status/status.less";

// VARS
@colorPrimary: #3369f3;
@colorSecondary: #1e1e1e;
@colorSecondaryLight: #999999;
@colorInvert: white;
@colorError: #ff2f2f;

@shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);

@radiusContainer: 12px;
@radiusButton: 8px;

// TAGS
body {
  height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

// CLASSES
.fv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cent {
  justify-content: center;
}

.main {
  width: 100%;
  height: 100%;
}
